<!DOCTYPE html>
<html lang="en">

<head>
    <title>Super Team Picker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/styles.css" rel="stylesheet">
    <link href="/styles/css/bootstrap.min.css" rel="stylesheet">
    <script src="/scripts/main.js"></script>
</head>

<body>
<header>
<nav class="navbar navbar-blue bg-light">
    <a class="navbar-brand" href="/">
        <img src="/images/chicken.svg" width="60" height="60" alt="brand">
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item m-1">
            <a class="nav-link btn btn-secondary" href="/clucks/new">Cluck!</a>
        </li>
        <% if (!username) {%>
        <li class="nav-item m-1">
            <a class="nav-link btn btn-secondary" href="/sign-in">Sign In</a>
        </li>
        <li class="nav-item m-1">
            <a class="nav-link btn btn-secondary" href="/sign-up">Sign Up</a>
        </li>
        <%} else {%>
        <li class="nav-item m-1">
            <div class="nav-link btn btn-outline-sucess signed-in active "><%= username %></div>
        </li>
        <form action="/sign-out" method="POST">
            <li class="nav-item m-1">
                <input type="submit" class="nav-link btn btn-secondary" value="Sign Out">
            </li>
        </form>
        <%}%>
    </ul>
</nav>
</header>
